<% content_for(:navbar_scroll, true) %>

<%= render "shared/banner" %>

<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :search,
    params[:search],
    class: "form-control",
    placeholder: "Trouver un concert"
  %>
  <%= submit_tag "Rechercher", class: "btn btn-danger" %>
<% end %>

<div class="container">
  <div class="row">

    <% @events.each do |event| %>
    <div class="col-xs-6 col-lg-3 col-md-3">
        <div class="card" style="background-image: url(<%= event.event_picture_url %>);">
          <div class="card-infos">
            <div class="card-title"><%= event.title %></div>
            <div class="card-location"><%= event.location.name %></div>
            <div class="card-date"><%= event.digitick_date %></div>
            <div type="button" class="btn btn-primary">Voir plus</div>
          </div>

        </div>

    </div>
  <!--
  <%= event.title %>
  <br>
  <%= event.location.name %>
  <br>
  À partir de <%= event.min_price %>
  <br>
  Créé le <%= event.digitick_date %>
  <br>
  <%= link_to "Voir", event_path(event) %>
  <br><br>
-->
    <% end %>
  </div>
</div>


<br>

<%= raw pagy_nav_bootstrap(@pagy) %>
