<% content_for(:navbar_scroll, true) %>

<%= render "shared/banner" %>
<div class="container">
  <div class="form-group form-search">
    <%= form_tag root_path, method: :get do %>
      <div class="media">
        <div class="media-body">
          <%= text_field_tag :search,
            params[:search],
            class: "form-control field-search",
            placeholder: "Trouver un concert"
          %>
        </div>
        <div class="media-right">
          <%= submit_tag "Rechercher", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <!-- <div class="col-md-9">
      <div class="hidden-sm hidden-xs">
        <div class="btn-group btn-group-justified m-0" role="group">
          <div class="btn-group" role="group">
            <%= link_to "Voir tout", root_path, class: "btn btn-default" %>
          </div>
          <div class="btn-group" role="group">
            <%= link_to "Pop Rock", root_path(genre: "Pop Rock"), class: "btn btn-default" %>
          </div>
          <div class="btn-group" role="group">
            <%= link_to "Jazz", root_path(genre: "Jazz"), class: "btn btn-default" %>
          </div>
          <div class="btn-group" role="group">
            <%= link_to "Reggae", root_path(genre: "Reggae"), class: "btn btn-default" %>
          </div>

          <div class="btn-group" role="group">
            <%= link_to "Rap", root_path(genre: "Rap"), class: "btn btn-default" %>
          </div>

          <div class="btn-group" role="group">
            <%= link_to "Electro", root_path(genre: "Electro"), class: "btn btn-default" %>
          </div>

          <div class="btn-group" role="group">
            <%= link_to "Variété", root_path(genre: "Variété"), class: "btn btn-default" %>
          </div>
        </div>
      </div>

      <div class="visible-xs-block visible-sm-block">
        <div class="btn-group btn-block m-0">
          <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter par genre musical <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Voir tout", root_path %>
            </li>
            <li>
              <%= link_to "Pop Rock", root_path(genre: "Pop Rock") %>
            </li>
            <li>
              <%= link_to "Jazz", root_path(genre: "Jazz") %>
            </li>
            <li>
              <%= link_to "Reggae", root_path(genre: "Reggae") %>
            </li>

            <li>
              <%= link_to "Rap", root_path(genre: "Rap") %>
            </li>

            <li>
              <%= link_to "Electro", root_path(genre: "Electro") %>
            </li>

            <li>
              <%= link_to "Variété", root_path(genre: "Variété") %>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
   <!--  <div class="col-md-3">
      <%= link_to "Les mieux notés", root_path(best_rated: 'best reviews'), class: "btn btn-default btn-block m-0" %>
    </div> -->


    <div class="col-md-12">
      <%= link_to "Près de chez moi", "#", class: "btn btn-default btn-block m-0", id: "near-me" %>
    </div>

  </div>

  <% if @filter %>
    <div class="display-filter-link">
      <div class="display-filter">
        <em>
        <%= @filter[:type] %>
        <%= ":" if @filter[:value] %>
        <%= @filter[:value] %>
        </em>
        <small>
          ( <%= link_to "Tout voir", root_path %> )
        </small>
      </div>
    </div>
  <% end %>


  <div class="row">
    <% @events.each do |event| %>
      <div class="col-xs-6 col-lg-3 col-md-3">
        <div class="card" style="background-image: url(<%= event.event_picture_url %>);">
          <div class="card-infos">
            <div class="card-title"><%= event.title.upcase %></div>
            <div class="card-location"><%= capitalize_apostrophe(event.location.name) %></div>
            <div class="card-date"> <em> <%= event.digitick_date.strftime("%d %b %Y") %></em></div>
            <div type="button"><%= link_to "Voir plus", event_path(event), class:"btn btn-primary btn-clapee btn-index"%></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<div class="container">
  <div class="pagination">
    <%= raw pagy_nav_bootstrap(@pagy) %>
  </div>
</div>
