<% content_for(:navbar_scroll, true) %>

<%= render "shared/banner" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="form-group form-inline form-search">
        <div class="field-search">
          <%= form_tag root_path, method: :get do %>
            <%= text_field_tag :search,
              params[:search],
              class: "form-control field-search",
              placeholder: "Trouver un concert"
            %>
        </div>
        <div class="field-submit">
          <%= submit_tag "Rechercher", class: "btn btn-primary btn-clapee" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-xs-6 col-lg-3 col-md-3">
        <div class="card" style="background-image: url(<%= event.event_picture_url %>);">
          <div class="card-infos">
            <div class="card-title"><%= event.title.upcase %></div>
            <div class="card-location"><%= capitalize_apostrophe(event.location.name) %></div>
            <div class="card-date"> <em> <%= event.digitick_date.strftime("%d %b %Y") %></em></div>
            <div type="button"><%= link_to "Voir plus", event_path(event), class:"btn btn-primary btn-clapee btn-index"%></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<div class="container">
  <div class="pagination">
    <%= raw pagy_nav_bootstrap(@pagy) %>
  </div>
</div>
