<div class="container">
  <div class="container-margin">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div id="event-img"> <%= image_tag @event.event_picture_url %></div> <br>
      </div>
      <div class="col-xs-6 col-md-4 event-infos">
        <div class="event-title"><%= @event.title %></div>
        <div class="event-genre"> <%= @event.music_genre %></div>
        <div class="event-date"> <%= @event.digitick_date %></div>
        <div class="event-location">
          <%= @event.location.name %>, <%= @event.location.town %>
        </div><br>
        <div class="event-status">
          <%= @event.status %> <br>
          <h6>À partir de <%= @event.min_price %> € </h6>
        </div>
          <div type="button"><%= link_to "Acheter un billet", @event.digitick_url, target: "_blank", class:"btn btn-primary btn-clapee" %></div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-8 col-offset-md-2">
          <%= @event.description %> <br>
          <% @star_total = 0 %>
          <% if @event.reviews.count > 0 %>
            <% @event.reviews.each do |review| %>
              <% @star_total += review.stars.to_i %>
            <% end %>
            <% @star_average = @star_total.div(@event.reviews.count).round%>
          <% end %>
          <br>
        </div>
      </div>


    Moyenne des notes données :
    <% if @event.reviews.count == 0 %>
      Donnez votre avis en premier !
    <% else %>
      <% @star_average.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - @star_average).times do %>
        <i class="far fa-star"></i>
      <% end %>
    <% end %>

    <br><br>


    <div id="reviews">
      <% if @event.reviews.count == 0 %>
        Soyez le premier !
      <% else %>
        <%= render @event.reviews.order("created_at ASC") %>
      <%end%>
    </div>


    <%= link_to "Retour à la liste des concerts", root_path %>
    <br>


    <%if policy(@event).edit? %>
      <%= link_to "Modifier", edit_event_path(@event) %>
    <% end %>

    <%if policy(@event).destroy? %>
      <%= link_to "Supprimer", event_path(@event), method: :delete, data: { confirm: "Confirmer la suppression de ce concert ? Vous ne pourrez pas revenir en arrière. " } %>
    <% end %>
  </div>
</div>
