<div class="container">
  <div class="container-margin">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div id="event-img"> <%= image_tag @event.event_picture_url %></div> <br>
      </div>
      <div class="col-xs-6 col-md-8">
        <div class="event-infos">
          <div class="event-title" style="font-size:4.5vw;"><%= @event.title.split(/ |\_/).map(&:capitalize).join(" ") %></div>
          <div class="event-genre" style="font-size:2.5vw;"> <%= @event.music_genre %></div>
          <div class="event-date" style="font-size:2.5vw;"> <%= @event.digitick_date.strftime("%e %b %Y") %></div>
          <div class="event-location" style="font-size:2.5vw;">
            <%= @event.location.name.split(/ |\_/).map(&:capitalize).join(" ") %>, <%= @event.location.town.split(/ |\_/).map(&:capitalize).join(" ") %>
          </div>
          <%= render "events/stars-average", event: @event %>
          <br>
          <div class="event-status" style="font-size:2vw;"><%= @event.status %>
          </div>
          <h6 style="font-size:2vw;"><em>À partir de <%= @event.min_price %> €</em></h6>
          <div type="button" style="font-size:2vw;"><%= link_to "Billeterie digitick", @event.digitick_url, target: "_blank", class:"btn btn-primary btn-clapee btn-to-digitick" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-offset-md-2">
        <div class="event-description">
          <em> <%= @event.description %> </em>
        </div>
      </div>
    </div>

    <div class="new-review-form">
      <% if user_signed_in? %>
        <div class="title-review-form">
          Laissez votre avis :
        </div>
          <%= render "reviews/form", event: @event, review: @review %>
      <% else %>
        <%= link_to t(".sign_in", default: "Connectez-vous pour donner votre avis et liker les autres avis"), new_user_session_path %>
      <% end %>
    </div>



    <div id="reviews">
      <% if @event.reviews.count == 0 %>
        <div class="review-title-presentation">
          Soyez le premier à donner votre avis !
        </div>
      <% else %>
        <div class="review-title-presentation">
          Les avis des spectateurs
        </div>
        <%= render @event.reviews.order("created_at DESC") %>
      <%end%>
    </div>

  <div class="back-home">
    <%= link_to "Retour à la liste des concerts", root_path, class:"btn btn-default" %>
  </div>

    <%if policy(@event).edit? %>
      <%= link_to "Modifier", edit_event_path(@event) %>
    <% end %>

    <%if policy(@event).destroy? %>
      <%= link_to "Supprimer", event_path(@event), method: :delete, data: { confirm: "Confirmer la suppression de ce concert ? Vous ne pourrez pas revenir en arrière. " } %>
    <% end %>
  </div>
</div>
