<%= @event.title %>
<br>
<%= @event.description %>
<br>
<% @star_total = 0 %>
<% if @event.reviews.count > 0 %>
  <% @event.reviews.each do |review| %>
    <% @star_total += review.stars.to_i %>
  <% end %>
  <% @star_average = @star_total.div(@event.reviews.count).round%>
<% end %>

<br>

Moyenne des notes données :
<% if @event.reviews.count == 0 %>
  Donnez votre avis en premier !
<% else %>
  <% @star_average.times do %>
    <i class="fas fa-star"></i>
  <% end %>
  <% (5 - @star_average).times do %>
    <i class="far fa-star"></i>
  <% end %>
<% end %>

<br><br>

<div id="reviews">
  <% if @event.reviews.count == 0 %>
    Soyez le premier !
  <% else %>
    <% @event.reviews.order("created_at ASC").each do |review| %>
      <%= render "reviews/review", event: @event, review: review %>
    <%end%>
  <%end%>
</div>



<%if user_signed_in? %>
    Laisser un commentaire :
    <%= render "reviews/form", event: @event, review: @review %>
<% end %>

<%= link_to "Retour à la liste des concerts", root_path %>
<br>


<%if policy(@event).edit? %>
  <%= link_to "Modifier", edit_event_path(@event) %>
<% end %>

<%if policy(@event).destroy? %>
  <%= link_to "Supprimer", event_path(@event), method: :delete, data: { confirm: "Confirmer la suppression de ce concert ? Vous ne pourrez pas revenir en arrière. " } %>
<% end %>
