<div class="container">
  <div class="container-margin">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div id="event-img"> <%= image_tag @event.event_picture_url %></div> <br>
      </div>
      <div class="col-xs-6 col-md-8">
        <div class="event-infos">
          <div class="event-title"><%= @event.title %></div>
          <div class="event-genre"> <%= @event.music_genre %></div>
          <div class="event-date"> <%= @event.digitick_date.strftime("%e %b %Y - %Hh%M") %></div>
          <div class="event-location">
            <%= @event.location.name %>, <%= @event.location.town %>
          </div><br>
          <div class="event-status"><%= @event.status %></div>
            <h6>À partir de <%= @event.min_price %> € </h6>

            <div type="button"><%= link_to "Acheter un billet", @event.digitick_url, target: "_blank", class:"btn btn-primary btn-clapee" %></div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-offset-md-2">
          <%= @event.description %> <br>
        </div>
      </div>

    <div class="average-stars">
      <% @star_total = 0 %>
        <% if @event.reviews.count > 0 %>
          <% @event.reviews.each do |review| %>
            <% @star_total += review.stars.to_i %>
          <% end %>
        <% @star_average = @star_total.div(@event.reviews.count).round%>
      <% end %>

      <% if @event.reviews.count == 0 %>
        Donnez votre avis en premier !
      <% else %>
      <ul class="list-inline">
        <li>
          <% @star_average.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @star_average).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </li>
        <li class="display-average-stars">
          <em>(<%= @event.reviews.count %> avis)</em>
        </li>
      <% end %>
    </div>


    <div class="new-review-form">
      <% if user_signed_in? %>
          Laissez votre avis :
          <%= render "reviews/form", event: @event, review: @review %>
      <% else %>
        Connectez-vous pour donner votre avis !
      <% end %>
    </div>



    <div id="reviews">
      <% if @event.reviews.count == 0 %>
        <div class="review-title-presentation">
          Soyez le premier à donner votre avis !
        </div>
      <% else %>
        <div class="review-title-presentation">
          Les avis des spectateurs
        </div>
        <%= render @event.reviews.order("created_at DESC") %>
      <%end%>
    </div>

  <div class="back-home">
    <%= link_to "Retour à la liste des concerts", root_path, class:"btn btn-default" %>
  </div>

    <%if policy(@event).edit? %>
      <%= link_to "Modifier", edit_event_path(@event) %>
    <% end %>

    <%if policy(@event).destroy? %>
      <%= link_to "Supprimer", event_path(@event), method: :delete, data: { confirm: "Confirmer la suppression de ce concert ? Vous ne pourrez pas revenir en arrière. " } %>
    <% end %>
  </div>
</div>
