<div class="review-form">
  <%= simple_form_for( [@event, @review], remote: true, validate: true) do |f| %>
    <%= f.error_notification %>
    <div class="rating-stars">
      <%= f.collection_radio_buttons :stars, (1..5).to_a.reverse, :to_i, :to_i, boolean_style: :inline, item_wrapper_tag: false do |b| %>
        <%= b.radio_button class: "star star-#{b.text}" %>
        <%= b.label class: "star star-#{b.text}" do %>
          <%= inline_svg("clap.svg", width: 32) %>
        <% end %>
      <% end %>
    </div>
    <%= f.input :content, method: :create, label: false, id: "content-area", placeholder: "Vous avez assité à ce concert ? Dites-nous ce que vous en avez pensé..."%>
    <%= f.error :content%>
    <%= f.button :submit, "Publier", class: "btn btn-primary btn-clapee" %>
  <% end %>
</div>





