<div class="display-review">
  <div class="review-card">

    <div class="review-user">
      <%= review.user.username %> a donné cet avis le <%= review.created_at.strftime("%e.%m.%y")%> à <%= review.created_at.strftime("%Hh%M")%> :
    </div>

    <ul class="list-inline">
      <li>
        <div class="review-stars">
          <% review.stars.to_i.times do %>
            <%= inline_svg("clap.svg", width: 20, class:"clap-blue") %>
          <% end %>

          <% (5 - review.stars.to_i).times do %>
            <%= inline_svg("clap.svg", width: 20) %>
          <% end %>
        </div>
      </li>
      <li>
        <div class="review-content">
          <em> <%= review.content %> </em>
        </div>
      </li>
    </ul>

    <ul class="list-inline reviews-change">
      <li>
        <div class="review-likes">
          <div id="like-<%= review.id %>">
            <% unless user_signed_in? %>
              <%= render "likes/like", review: review %>
            <% else %>
              <% if like = current_user.liked?(review) %>
                <%= render "likes/dislike", like: like, review: review %>
              <% else %>
                <%= render "likes/like", review: review %>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
      <li>
        <%if policy(review).update? %>
          <%= link_to "Modifier mon commentaire", edit_review_path(review) %>
        <% end %>
      </li>
      <li>
        <% if policy(review).destroy? %>
          <%= link_to "Supprimer ce commentaire", review_path(review), method: :delete, data: { confirm: "Supprimer mon commentaire ?" } %>
        <% end %>
      </li>
    </ul>

  </div>
</div>



