

<%= review.content %>


<div id="like-<%= review.id %>">
  <% if like = current_user.liked?(review) %>
    <%= render "likes/dislike", like: like, review: review %>
  <% else %>
    <%= render "likes/like", review: review %>
  <% end %>
</div>

<% review.stars.to_i.times do %>
  <i class="fas fa-star"></i>
<% end %>

<% (5 - review.stars.to_i).times do %>
  <i class="far fa-star"></i>
<% end %>

  <br>

<%if policy(review).update? %>
  <%= link_to "Modifier mon commentaire", edit_review_path(review) %>
<% end %>
<br>
<% if policy(review).destroy? %>
  <%= link_to "Supprimer ce commentaire", review_path(review), method: :delete, data: { confirm: "Supprimer mon commentaire ?" } %>
<% end %>
<br>



